@page
@model GameCollection.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="site-section" data-aos="fade">
    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-md-7">
                <div class="row mb-5">
                    <div class="col-12 ">
                        <h2 class="site-section-heading text-center">Game List</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" id="lightgallery">
            @foreach (var list in Model.GameObjList)
            {
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="@list.Game.Image" data-sub-html="@Html.Raw(list.Game.Description)">
                <img src="@list.Game.Image" alt="IMage" class="img-fluid">
                <p>&nbsp;</p>
                <h3>@list.Game.Name</h3>
                @Html.Raw(list.Game.Description)
                <p>&nbsp;</p>
            </div>
            }
        </div>
    </div>
</div>
